@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@import "tailwindcss";

.leaflet-control-attribution {
    font-size: 10px;
    background: transparent;
    color: gray;
  }

  .leaflet-control-attribution {
    display: none !important;
  }

  /* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}